*obj/
*debug/
*release/
.vs/
_ReSharper*
*.suo
*.user
packages
buildTools
build
scratch/
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
coverage/
.vscode/
bin/
TestResults/
.idea